body {
    background-color:lightblue;
    font-size: 19px
}

header {
    background-color:whitesmoke;
    border: inset;
    border-radius: 10px;
    padding: 6px;
}

.nav-links
{
    color:skyblue;
    font-weight: bold;
    padding: 6px;
    margin: 5px;
}

.nav-links a {
    color: skyblue;
    font-weight: bold;
    padding: 6px;
    margin: 5px;
}

a:hover {
     color:darkblue;
}

@media(max-width: 768px){
    nav ul{
        flex-direction: column;
    }
    img{
        width: 90%;
        height: auto;
    }
    p,ul{
        padding: 0 20px;
    }
}
@media(max-width: 480px)
{
    nav ul{
        flex-direction: column;
    }
    img{
        width:90%;
        height: auto;
    }
}

table {
    width: 90%;
    margin: 20px auto;
    border:inset ;
    background-color:floralwhite;
    border-radius: 7px;
    color: darkgreen;
    font-size: 20px;
}
table th {
    text-align:center;
    padding: 12px;
}

footer {
    background-color:whitesmoke;
    color:darkblue;
    text-align: center;
    border: inset;
    border-radius: 15px;
}